.book {
	display: grid;
	grid-gap:  10px;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	box-shadow: 0 0 10px -5px grey;
}

.details h3 {
	font-style: italic;
}

.details h2 {
	font-weight: bold;
}

.details p {
	opacity: 0.6;
}

.action-buttons {
	display: flex;
	justify-content: center;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.action-buttons button	{
	border: none;
	outline: none;
	background: none;
	text-decoration: underline;
}



.current-chapter {
	grid-column: 2/3;
	grid-row: 1/2;
}

.update-progress {
	grid-column: 2/3;
	grid-row: 3/4;
}

.completion {
	grid-column: 2/3;
	grid-row: 2/3;
}

